* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}


.rus,
.eng,
.bel {
  display: none;
}

body {
  background: radial-gradient(circle at right, rgba(233, 241, 223, 0) 0.3333333333em, #E9F1DF 0.3333333333em, #E9F1DF 0.4888888889em, rgba(233, 241, 223, 0) 0.4888888889em, rgba(233, 241, 223, 0) 0.8222222222em, #E9F1DF 0.8222222222em, #E9F1DF 0.9777777778em, rgba(233, 241, 223, 0) 0.9777777778em, rgba(233, 241, 223, 0) 1.3111111111em, #E9F1DF 1.3111111111em, #E9F1DF 1.4666666667em, rgba(233, 241, 223, 0) 1.4666666667em) 0 0, radial-gradient(circle at left, rgba(233, 241, 223, 0) 0.5777777778em, #E9F1DF 0.5777777778em, #E9F1DF 0.7333333333em, rgba(233, 241, 223, 0) 0.7333333333em, rgba(233, 241, 223, 0) 1.0666666667em, #E9F1DF 1.0666666667em, #E9F1DF 1.2222222222em, rgba(233, 241, 223, 0) 1.2222222222em) 0 3.0514619883em, linear-gradient(to right top, #E9F1DF 0.1555555556em, rgba(233, 241, 223, 0) 0.1555555556em) 1.2222222222em 0.1555555556em, linear-gradient(to left top, #E9F1DF 0.1555555556em, rgba(233, 241, 223, 0) 0.1555555556em) 1.2222222222em 0.1555555556em, linear-gradient(to right bottom, #E9F1DF 0.1555555556em, rgba(233, 241, 223, 0) 0.1555555556em) 1.2222222222em 0.1555555556em, linear-gradient(to left bottom, #E9F1DF 0.1555555556em, rgba(233, 241, 223, 0) 0.1555555556em) 1.2222222222em 0.1555555556em;
  background-size: 2.8em 2.8em;
  &.ru {
    .rus {
      display: block;
    }
    span.rus {
      display: inline;
    }
  }
  &.en {
    .eng {
      display: block;
    }
    span.eng {
      display: inline;
    }
  }
  &.by {
    .bel {
      display: block;
    }
    span.bel {
      display: inline;
    }
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: #FFF;
  border: 1px solid #DDD;
}

nav {
  width: 100%;
  background: rgb(44, 56, 73);

  .back-to-list {
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      text-shadow: 0 0 15px #FFF;
      letter-spacing: 1px;
    }
    &::before {
      content: "<<";
    }
  }
  
  .language-switch {
    position: absolute;
    top: 5px;
    right: 0;
    background: grey;
  }
}


h1 {
  display: flex;
  align-items: center;
  word-break: break-word;
  img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.subtitle {
  margin: 0 10px;
}

section {
  margin-bottom: 30px;
  padding: 10px 10px 30px 10px;
  border-bottom: 1px dotted #AAA;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.timeline-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;

  .timeline-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &:last-of-type {
      .timeline-info{
        padding-bottom: 10px;
      }
    }
    &:nth-of-type(2) {
      .timeline-date {
        background-color: deeppink;
        &::before {
          border-top: 10px solid deeppink;
        }
        &::after {
          border: 2px solid deeppink;
        }
      }
    }
    &:nth-of-type(3) {
      .timeline-date {
        background-color: limegreen;
        &::before {
          border-top: 10px solid limegreen;
        }
        &::after {
          border: 2px solid limegreen;
        }
      }
    }

    .timeline-date {
      padding: 5px 1vw;
      min-width: 100px;
      margin-top: 0.5em;
      margin-right: 20px;
      border-radius: 3px;
      background-color: cornflowerblue;
      color: #FFF;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -20px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top: 10px solid cornflowerblue;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -4px;
        right: -24px;
        width: 5px;
        height: 5px;
        background-color: #FFF;
        border: 2px solid cornflowerblue;
        border-radius: 100%;
      }

      
    }
    .timeline-divider {
      width: 1px;
      align-self: stretch;
      border-left: 1px dashed grey;
    }
    .timeline-info {
      margin-left: 20px;
      padding-bottom: 50px;
    }
  }
}

.list-of-works {
  list-style: none;
  .list-of-works-year {
    font-weight: bold;
    &::after {
      content: " ......";
    }
  }
}

.photos {
  display: flex;
  figure {
    margin: 10px;
    img {
      max-width: 300px;
      max-height: 200px;
    }
  }
}

.mapouter {
  text-align:right;
  height:300px;
  //width:600px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:300px;
  //width:600px;
  border: 1px solid grey;
  iframe {
    width: 100%;
    border: none;
  }
}

#lightgallery,
#video-gallery {
  a {
    text-decoration: none;
    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
  }
}

#video-gallery {
  list-style: none;
}